.DS_Store
ably-js.iml
.idea
node_modules
npm-debug.log
.tool-versions
build/
react/
typedoc/generated/
junit/
private-api-usage/
private-api-usage-reports/
test/support/mocha_junit_reporter/build/
tmp/

# Python stuff (for interception proxy)
__pycache__
