sudo: false
dist: trusty
language: node_js
install: npm install
notifications:
  slack:
    secure: NMKqWNNcqmEuOY9xovbXb7g/MD3OrJLtMDeUO7xUPYZBCCYLsPrGCCfoD8XtdU0ByFPGlNhJGolwR8GXBSCXOtC7wyE/j32NFKK1AB8zVj+++vAS/ADhpt3fsLN+IuekGd3MASw0KBn64dPsTB1xWXDN1YA/Fy7bYxDZHsLJ3vw=
    on_success: change
    on_failure: always
    on_pull_requests: true
  email:
    recipients:
      - simon@ably.io
    on_success: change
    on_failure: always
branches:
  only:
  - master
  - /^.*-ci$/
env:
  global:
    - ABLY_LOG_LEVEL=1
addons:
  firefox: "58.0"
matrix:
  include:
    - node_js: '4'
      env: RUN_TESTS=./test/bin/ci-travis-firefox.sh
    - node_js: '4'
      env: RUN_TESTS=./test/bin/ci-travis-nodeunit.sh
    - node_js: '6'
      env: RUN_TESTS=./test/bin/ci-travis-nodeunit.sh
    - node_js: '8'
      env: RUN_TESTS=./test/bin/ci-travis-nodeunit.sh
    - node_js: 'node' # means latest stable
      env: RUN_TESTS=./test/bin/ci-travis-nodeunit.sh
    - node_js: '4'
      env: RUN_TESTS=./test/bin/ci-travis-all.sh
script:
  - $RUN_TESTS
