sudo: false
dist: trusty
language: node_js
before_install:
  - "npm install -g grunt-cli"
install: npm install
notifications:
  slack:
    rooms:
      - secure: SOHut1xcPFnac2sh5ICL3Hehx/du3G7OuWZoMKejxzbUq3Stp29t6EQ9To7VNEHCEJLcewhZTataVOQkZLcDtDRZofXVHW0RSQJVigJTH+eJq1qyPLKuO+D9lM2djP28smb0SGxhOpOr7JH1l4+rvOeNhQMvNs5+yN45w7KSM7k=
    on_success: change
    on_failure: always
  email:
    recipients:
      - simon@ably.io
      - cesare@ably.io
    on_success: change
    on_failure: always
branches:
  only:
  - master
env:
  global:
    - ABLY_LOG_LEVEL=1
addons:
  firefox: "58.0"
matrix:
  include:
    - node_js: '4'
      env: RUN_TESTS=./test/bin/ci-travis-firefox.sh
    - node_js: '4'
      env: RUN_TESTS=./test/bin/ci-travis-nodeunit.sh
    - node_js: '6'
      env: RUN_TESTS=./test/bin/ci-travis-nodeunit.sh
    - node_js: '8'
      env: RUN_TESTS=./test/bin/ci-travis-nodeunit.sh
    - node_js: 'node' # means latest stable
      env: RUN_TESTS=./test/bin/ci-travis-nodeunit.sh
    - node_js: '4'
      env: RUN_TESTS=./test/bin/ci-travis-all.sh
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - $RUN_TESTS
